<h1>Students</h1>

<ul>
  <% @students.each do |student| %>
    <li>
      <%= student.email%>
      <%= link_to "Details", admin_student_path(student) %>
    </li>
  <% end %>
</ul>

<ul>
    <li>
      <%= link_to "Add Student", new_admin_student_path %>
    </li>

    <li>
      <%= link_to "Back", root_path %>
    </li>
    
</ul>
