<div class="container">
  <section class="mx-auto my-5" style="max-width: 23rem;">
    
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4">
          <div class="blockquote-custom-icon bg-info shadow-1-strong">
            <i class="fa fa-quote-left text-white"></i>
          </div>
          <p class="mb-0 mt-2 font-italic">
            Student Admin panel you can see your data here by clicking on nav-bar
            <a href="#" class="text-info">@Welcome</a>."
          </p>
          <footer class="blockquote-footer pt-4 mt-4 border-top">
            Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
      </div>
    </div>
    
  </section>
</div>