<h1>Home</h1>
<%= link_to "Add Teacher", new_teacher_registration_path %> | <%= link_to "Add Student", new_student_registration_path %>
<%= link_to "Sign out", destroy_admin_session_path, method: :delete %>
